:root {
 font-family: 'Inter', sans-serif;
}
html,
body {
 height: 100%;
 margin: 0;
 overflow: hidden;
}
canvas {
 display: block;
 width: 100%;
 height: 100%;
}
#c {
 background: radial-gradient(circle at 50% 50%, #172554, #0f172a);
 cursor: crosshair;
}
.sim-slider {
 @apply w-24 h-2 bg-gray-700 rounded-lg appearance-none cursor-pointer range-lg;
}
.slider-value {
 @apply w-8 text-right font-mono text-yellow-400;
}
#ui {
 transition: max-height 0.3s ease-in-out, background-color 0.3s ease;
 max-height: 192px;
 overflow: hidden;
}
#graph-ui {
 transition: max-height 0.3s ease-in-out, background-color 0.3s ease;
 max-height: 256px;
 overflow: hidden;
}
.ui-expanded {
 max-height: 85vh !important;
}
#graph-controls {
 flex-grow: 1;
 min-height: 200px;
}